body {
    font-family: Arial, sans-serif;
    background-image: url('https://t4.ftcdn.net/jpg/02/94/26/33/360_F_294263329_1IgvqNgDbhmQNgDxkhlW433uOFuIDar4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

h1 {
    color: #f39c12;
}

h2 {
    margin-top: 20px;
    color: #e67e22;
}

p {
    line-height: 1.6;
}