{% extends "staydine/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('https://imgs.search.brave.com/v4SGE8LIS7G_GNK0kOcBeWO-fPOoRPCV1-N7dMN4GBQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTM1/ODg0NDAyMS9waG90/by93aGl0ZS1ib2tl/aC1saWdodHMtYmFj/a2dyb3VuZC5qcGc_/cz02MTJ4NjEyJnc9/MCZrPTIwJmM9bTZr/YzlUWDRrb042S3hV/cUljZUxzbFBld1Bv/UkZ6SnBNNnNaaWtr/SmNtRT0');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 50px;
    }
</style>
<div class="container mt-4">
    <h2>Change Password</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
</div>
{% endblock %}
