{% extends "staydine/base.html" %}

{% block content %}
<style>
    h2 {
        color: black;
        font-family: 'Protest Guerrilla';
    }

    body {
        font-family: Arial, sans-serif;
        background-image: url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 50px;
    }
</style>

<div class="container mt-5">
    <div class="translucent-bg text-dark p-4 rounded shadow text-center">
        <h2>Payment Successful!</h2>
        <p>Your payment has been processed successfully. Thank you for your booking.</p>
        <div class="border-top pt-3">
            <p class="text-muted">
                <a href="{% url 'staydine-home' %}" class="text-dark chk-font">Home</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
