{% extends "staydine/base.html" %}

{% block content %}
<div class="text-center mb-4">
    <h2>Payment</h2>
</div>
<div class="translucent-bg p-3 mx-auto" style="max-width: 400px;">
    <p class="total-amount">Total Amount: ₹ {{ amount }}</p>
    <form method="POST" action="{% url 'initiate_payment' %}">
        {% csrf_token %}
        
        <input type="hidden" name="amount" value="{{ amount }}">
        
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Proceed to Payment</button>
    </form>
</div>
{% endblock content %}
